<div class="container">
    <div>
        <button id="panicButton">PANIC</button>
    </div>
    <h1>PurplePoint</h1>
    <div>
        <button class="principalButton" (click)="redirectToSignUp()">
            Sign up
        </button>
    </div>
    <div>
        <button class="secondaryButton" (click)="redirectToLogin()">
            Log in
        </button>
    </div>
    <div>
        <button class="secondaryButton" (click)="redirectToProfile()">
            Test Profile
        </button>
    </div>
    
</div>