.phoneName {
    color: #9D9E9E;
}

.phoneNumber {
    font-size: 30px;
    border-radius: 26px;
    background-color:  #1A1A1A;;
    margin: auto;
    width: 360px;
    color: #9D9E9E;
    margin-bottom: 40px;
    margin-top: 5px;
}