<div class="container signup-cont">
  <div class="row">
    <div class="col-12">
      <h1>PurplePoint</h1>
    </div>
  </div>
  <div class="row second-title">
    <div class="col-12">  
      <h2>Sign up</h2>
    </div>
  </div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row" [ngClass]="{'has-error': isSubmitted === true && formControls.email.errors}">
      <div class="col-12 form-field">
        <input type="email" class="form-control" id="email" placeholder="email" formControlName="email"
        name="email"
        required>
        <div *ngIf="isSubmitted && formControls.email.errors"> 
          <div class="error-message" *ngIf="formControls.email.errors.required">
              Email is required
          </div> 		   
          <div class="error-message" *ngIf="formControls.email.errors.email">
              Email not valid
          </div>
        </div> 
      </div>
    </div>

    <div class="row" [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
      <div class="col-12 form-field">
        <input 
        type="text" 
        class="form-control" 
        id="username" 
        placeholder="username" 
        formControlName="username"
        name="username"
        (click)="setSubmittedToFalse()"
        required>
        <div *ngIf="isSubmitted && formControls.username.errors" >
          <div class="error-message" *ngIf="formControls.username.errors.required">Username is required</div>
        </div>
      </div>
    </div>

    <div class="row" [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
      <div class="col-12 form-field">
        <input 
          type="text" 
          class="form-control" 
          id="name" 
          placeholder="name" 
          formControlName="name"
          name="name"
          (click)="setSubmittedToFalse()"
          required>
        <div *ngIf="isSubmitted && formControls.name.errors" >
          <div class="error-message" *ngIf="formControls.name.errors.required">Name is required</div>
        </div>
      </div>
    </div>

    <div class="row" [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
      <div class="col-12 form-field">
        <input 
          type="password" 
          class="form-control" 
          id="password" 
          placeholder="password"
          formControlName="password"
          (click)="setSubmittedToFalse()"
          required
        >
        <div *ngIf="isSubmitted && formControls.password.errors" >
          <div class="error-message" *ngIf="formControls.password.errors.required">Password is required</div>
        </div>
      </div>
    </div>

    <div class="row" [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
      <div class="col-12 form-field">
        <input 
          type="password" 
          class="form-control" 
          id="repeatPassword" placeholder="Confirm password" 
          formControlName="confirmPassword"
          name="password"
          (click)="setSubmittedToFalse()"
          required
        >
        <div *ngIf="isSubmitted && formControls.confirmPassword.errors" >
          <div class="error-message" *ngIf="formControls.confirmPassword.errors.required">Confirm Password is required</div>
          <div class="error-message" *ngIf="formControls.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
      </div>
    </div>

    <div class="row" [ngClass]="{ 'has-error': isSubmitted && formControls.gender.errors }">
      <div class="col-12 form-field">
        <select 
          class="form-control" 
          id="gender"
          formControlName="gender"
          name="gender"
          (click)="setSubmittedToFalse()"
          required>
          <option [ngValue]="null" disabled>{{genders[0]}}</option>
          <option *ngFor="let gen of genders | slice:1;" [ngValue]="gen">{{gen}}</option>
        </select>
        <div *ngIf="isSubmitted && formControls.gender.errors" >
          <div class="error-message" *ngIf="formControls.gender.errors.required">Gender is required</div>
        </div>
      </div>  
    </div>  
    <button type="submit" class="principalButton signup-button">Register</button>
  </form>
</div>
