<div class="container">
    <h1>Purple Point</h1>
    <h2>Sign up</h2>
    <form>
      <div>
        <input type="text" class="form-control" id="email" placeholder="email" required>
        <br>
        <input type="text" class="form-control" id="username" placeholder="username" required>
        <br>
        <input type="password" class="form-control" id="password" placeholder="password" required>
        <br>
        <input type="password" class="form-control" id="repeatPassword" placeholder="repeat password" required>
        <br>
        <input type="radio" class="form-control" id="gender" placeholder="gender" required>
      </div>
      <button type="submit" class="principalButton">Register</button>
    </form>
</div>
