# configuració eclipse

.settings

Design/appDesign.sketch

Design/Logo.sketch

.DS_Store

#IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#dependencies
/node_modules

#misc
npm-debug.log

purple-point-front/.editorconfig

Sources/

purple-point-front/src/assets/.gitkeep 2

purple-point-front/src/assets/.gitkeep 3

purple-point-front/e2e/

purple-point-front/.editorconfig 2

purple-point-front/.editorconfig 3

purple-point-front/browserslist 2

purple-point-front/karma.conf 2.js

purple-point-front/package 2.json

purple-point-front/package-lock 2.json

purple-point-front/tsconfig 2.json

purple-point-front/tsconfig.app 2.json

purple-point-front/tsconfig.spec 2.json

purple-point-front/tslint 2.json
