<div class="container">
    <div class="row" style="position: fixed; top: 0; right: 0;">
        <div class="col-12">
            <button class="languageButtons" (click)="changePopupLanguage('en')">ENG</button> | 
            <button class="languageButtons" (click)="changePopupLanguage('es')">ESP</button>
        </div>
    </div>
    <div class="row">
        <div id="addPointRedirect" class="col-2 plusButton" (click)="redirectToAddPointToMap()">
            <p class="plus">+</p>
        </div>
    </div>
    <div class="row">
        <div class="col map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
