<div class="container principal-cont">
    <div class="row">
        <div class="col-sm-12">
            <panicbutton></panicbutton>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>
                {{ 'titles.purplepoint' | translate }}
            </h1>   
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div>
                <button class="principalButton" (click)="redirectToSignUp()">
                    {{ 'titles.sign-up' | translate }}
                </button>
            </div>
            <div>
                <button class="secondaryButton" (click)="redirectToLogin()">
                    {{ 'titles.login' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
