@mixin snackbarbox() {
    .snackbarbox .mat-snack-bar-container {
        width: 85% !important;
        bottom: 71px !important;
        padding: 20px 0px !important;
        border-radius: 10px !important;
        min-width: 20% !important;
        background: #341860 !important;
        white-space: pre-wrap !important;
        color: white !important;
        margin-bottom: 57px !important;
        .snackbar-text {
            text-align: center !important;
            font-size: 1em !important;
            color: white !important;
            margin: 0 !important;
            padding-left: 25px !important;
        }
    }
}