<div class="container">
    <table class="userInfo">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <p class="username">@username</p>
                            </tr>
                            <tr>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="tableAttribute">gender</td>
                                            <td class="tableValue">woman</td>
                                        </tr>
                                        <tr>
                                            <td class="tableAttribute">number of harassed spots masked</td>
                                            <td class="tableValue">5</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td>
                    <img class="profileImage" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3150&amp;q=80" alt="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3150&amp;q=80">
                </td>
            </tr>
            <tr>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><button class="logoutButton">log out > </button></td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img class="mapImage" src="https://miro.medium.com/max/3332/0*R8YnMoScMd_jiO93.png">
</div>