<div class="container profile">
    <div class="row">
        <div class="col-sm-8">
            <form [formGroup]="editProfileForm" (ngSubmit)="saveChanges()">
                <div class="usernameTitle" [ngClass]="{'has-error': isSubmitted === true && formControls.username.errors}">
                    <input 
                        class="form-control" 
                        disabled="disableInputs" 
                        style="color:blueviolet" 
                        value="@{{userInfo.username}}"
                        formControlName="username"
                        name="username"
                        (click)="setSubmittedToFalse()"
                        required
                    > 
                    <div *ngIf="isSubmitted && formControls.username.errors"> 
                        <div class="error-message" *ngIf="formControls.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="userData" [ngClass]="{'has-error': isSubmitted === true && formControls.name.errors}">
                    <div class="row attribute">
                        <div class="col-3">
                            <span class="userTitles">name</span>
                        </div>
                        <div class="col-9 userChanges">
                            <input 
                                class="form-control" 
                                disabled="disableInputs" 
                                value="{{userInfo.name}}"
                                formControlName="name"
                                name="name"
                                (click)="setSubmittedToFalse()"
                                required
                            >
                            <div *ngIf="isSubmitted && formControls.name.errors"> 
                                <div class="error-message" *ngIf="formControls.name.errors.required">Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row attribute">
                        <div class="col-3 ">
                            <span class="userTitles">gender</span>
                        </div>
                        <div class="col-9 userChanges" [ngClass]="{ 'has-error': isSubmitted && formControls.gender.errors }">
                            <select 
                                class="form-control" 
                                disabled="disableInputs"
                                formControlName="gender"
                                name="gender"
                                (click)="setSubmittedToFalse()"
                                required>
                            >
                                <option>{{userInfo.gender}}</option>
                                <option *ngFor="let gen of genders">{{gen}}</option>
                            </select>
                        </div>
                        <div *ngIf="isSubmitted && formControls.gender.errors" >
                            <div *ngIf="formControls.gender.errors.required">Gender is required</div>
                        </div>
                    </div>
                    <div *ngIf="enableSaveButton">
                        <div class="row attribute">
                            <div class="col-3">
                                <span class="userTitles">password</span>
                            </div>
                            <div class="col-9 userChanges" [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                                <input class="form-control" type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
                            </div>
                            <div *ngIf="isSubmitted && formControls.password.errors" >
                                <div *ngIf="formControls.password.errors.required">Password is required</div>
                            </div> 
                        </div> 
                        <button type="submit" class="principalButton" (click)="saveChanges()">
                            Save changes 
                        </button>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="col-sm-4 order-first order-sm-last imageBlock">
            <img class="profileImage" src="https://image.flaticon.com/icons/svg/1738/1738691.svg" style="height: 100px; width: 100px;">
            <button 
                type="button" 
                class="principalButton editProfile"
                (click)="editarPerfil()"
            >
                Editar perfil
            </button>
            <button type="button" class="logoutButton" (click)="logout()">Log out </button>
        </div>
    </div>
    <!--
    <br>
    <br>
    <br>
    <br>
    <table align="center">
        <tbody>
            <td><span class="tableAttribute">Number of harassed spots marked </span></td>
            <td><span class="tableValue">{{userInfo.markedSpots}}</span></td>
        </tbody>
    </table>
    <br>
    <br>
    <img class="mapImage" src="https://miro.medium.com/max/3332/0*R8YnMoScMd_jiO93.png"> -->
</div>

<!-- TESTING IMAGE PROFILE UPLOAD -->
<br><br><br>
<div class="container row">
    <div class="col-md-12"> <h1>Upload Image</h1> </div>
</div>
<div class="container row">
    <div class="col-md-6"> <input type="file" (change)="onFileChanged($event)"> </div>
    <div class="col-md-6"> <input type="button" (click)="onUpload()" value="upload"> </div>
</div>
<!--
<hr />
<div class="container row">
    <div class="col-md-12"> <div *ngIf=message>{{message}}</div> </div>
</div>
<div class="container row">
    <div class="col-md-6"> <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName" name="name" /> </div>
    <div class="col-md-6"> <input type="button" (click)="getImage()" value="Get Image"> </div>
</div>
<div class="container row">
    <div class="col-md-12"> <div *ngIf=retrievedImage> <img [src]="retrievedImage"> </div> </div>
</div>
-->