<div class="container">
    <table class="userInfo">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <input class="username" [disabled]="disableInputs" placeholder="@{{userInfo.name}}">
                            </tr>
                            <tr>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="tableAttribute">gender</td>
                                            <td class="tableValue">male</td>
                                        </tr>
                                        <tr>
                                            <td class="tableAttribute">@{{userInfo.name}}</td>
                                            <td class="tableValue">5</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td>
                    <img class="profileImage" src="https://media-exp1.licdn.com/dms/image/C4D03AQHLDRgeidvYZA/profile-displayphoto-shrink_200_200/0?e=1590624000&v=beta&t=uxwAXOUWM-vFtGENLqSPWJee07Mijq06Rhcp-uYZFwc">
                </td>
            </tr>
            <tr>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
                <!-- <td><p></p></td> -->
                <td><button (click)="editarPerfil()">Editar perfil </button></td>
                <td><button class="logoutButton" (click)="redirectToPrincipalView()">log out > </button></td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img class="mapImage" src="https://miro.medium.com/max/3332/0*R8YnMoScMd_jiO93.png">
</div>