<div class='container'>
    <table align='center'>
        <tbody>
            <tr>
                <div class='profileRectangle'>
                    <table>
                        <tbody>
                            <td>
                                <img class="profileImage" src="https://media-exp1.licdn.com/dms/image/C4D03AQHLDRgeidvYZA/profile-displayphoto-shrink_200_200/0?e=1590624000&v=beta&t=uxwAXOUWM-vFtGENLqSPWJee07Mijq06Rhcp-uYZFwc">
                            </td>
                            <td style='vertical-align: middle; text-align:left;'>
                                <tr class='name'>Ismael de la Gracia</tr>
                                <tr clasw='username'>@isma</tr>
                            </td>
                            <td style='width: 150px;'></td>
                            <td style='vertical-align: middle; text-align:right;'>
                                <img src="../../../images/expand.svg">
                            </td>
                    </tbody>
                    </table>
                </div>
            </tr>
            <tr>
                <p style="text-align: left;">Hello, <b>Isma</b>!</p>
            </tr>
            <tr>
                <table>
                    <tbody>
                        <td>
                            <tr>
                                <button class="mapbutton">go to map</button>
                            </tr>
                            <tr>
                                <button class="settingsbutton">go to settings</button>
                            </tr>
                        </td>
                        <td>
                            <button class="wikibutton">
                                Doubts?<br>
                                Visit the wiki
                            </button>
                        </td>
                    </tbody>
                </table>
            </tr>
            <tr style="height: 75px;"></tr>
            <tr>
                <div class="panicButtonTitle">Panic button</div>
            </tr>
            <tr>
                <div>
                    <button id="panicButton">PANIC</button>
                </div>
            </tr>
        </tbody>
    </table>
</div>