<div class="container main-menu-cont">
    <div class="row profileRectangle">
        <div class="col-2 profIm">
            <img class="profileImage" 
            src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg" 
            >
            <!-- <img class="profileImage" src={{profileImage}} style="height: 50px; width: 50px;"> -->
        </div>
        <div class="col-7 infoData">
            <tr class="name">{{userInfo.name}}</tr>
            <tr clasw="username">@{{userInfo.username}}</tr>
        </div>
        <div class="col-2 expandImage">
            <img src={{expandImage}} style="height:25px; width:25px" (click)="redirectToProfile()">
        </div>
    </div>
    <div class="row logoutDiv">
        <div class="col-6">
            <p class="helloText">Hello, <b>{{userInfo.name}}</b>!</p>
        </div>
        <div class="col-6">
            <button type="button" class="logout" (click)="logout()">Log out </button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button class="purpleButton" (click)="redirectToMap()">
                <div class="bigButton">
                    <span>Want to see or mark some spots? 
                        <b>Go to map</b>
                    </span>
                </div>
                <img class="imageClass" src={{mapImage}}>
            </button>
        </div>
        <div class="col-6">
            <button class="purpleButton" (click)="redirectToWiki()">
                <div>
                    <img class="imageClass" src={{wikiImage}}>
                </div>
                <div class="doubts">
                    <span>Doubts?</span><br>
                    <b>Visit the wiki</b>
                </div>      
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 panicButtonTitle">
            <span>Panic button</span>
        </div>
        <div class="col-12 roundButton">
            <panicbutton></panicbutton>
        </div>
    </div>
</div>