[Unit]
Description=Runs wrapper script for purplepoint server
After=network.target remote-fs.target nss-lookup.target httpd-init.service

[Service]
Type=simple
ExecStart=/home/alumne/run_server.sh &>> /home/alumne/startup.log

[Install]
WantedBy=multi-user.target
