<div class="useofterms">
    <div mat-dialog-title class="row">
        <div class="col-12">
            <h1 class="touH1"> {{ 'termsOfUse.title0' | translate }} </h1>
        </div>
    </div>
    <br>
    <div mat-dialog-content class="loreipsum">
        <div class="row">
            <div class="col-12 touP0">
                {{ 'termsOfUse.paragraph0' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h2 class="touH2"> {{ 'termsOfUse.title1' | translate }} </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph1' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h2 class="touH2"> {{ 'termsOfUse.title2' | translate }} </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph2' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h2 class="touH2"> {{ 'termsOfUse.title3' | translate }} </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph3' | translate }}
            </div>
        </div> 
        <br>
        <div class="row">
            <div class="col-12 ">
                <h2 class="touH2"> {{ 'termsOfUse.title4' | translate }} </h2>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph4' | translate }}
            </div>
        </div> 
        <br>
        <div class="row">
            <div class="col-12 ">
                <h2 class="touH2"> {{ 'termsOfUse.title5' | translate }} </h2>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph5' | translate }}
            </div>
        </div> 
        <br>
        <div class="row">
            <div class="col-12 ">
                <h2 class="touH2"> {{ 'termsOfUse.title6' | translate }} </h2>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph6' | translate }}
            </div>
        </div> 
        <br>
        <div class="row">
            <div class="col-12 ">
                <h2 class="touH2"> {{ 'termsOfUse.title7' | translate }} </h2>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph7' | translate }}
            </div>
        </div> 
        <br>
        <div class="row">
            <div class="col-12 ">
                <h2 class="touH2"> {{ 'termsOfUse.title8' | translate }} </h2>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph8' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h2 class="touH2"> {{ 'termsOfUse.title9' | translate }} </h2>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph9' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h2 class="touH2"> {{ 'termsOfUse.title10' | translate }} </h2>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph10' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h2 class="touH2"> {{ 'termsOfUse.title11' | translate }} </h2>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph11' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h2 class="touH2"> {{ 'termsOfUse.title12' | translate }} </h2>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph12' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h3 class="touH3"> {{ 'termsOfUse.title12-0' | translate }} </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="touH4"> {{ 'termsOfUse.title12-1' | translate }} </h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph12-1' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h4 class="touH4"> {{ 'termsOfUse.title12-2' | translate }} </h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph12-2' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h4 class="touH4"> {{ 'termsOfUse.title12-3' | translate }} </h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph12-3' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h4 class="touH4"> {{ 'termsOfUse.title12-4' | translate }} </h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph12-4' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h4 class="touH4"> {{ 'termsOfUse.title12-5' | translate }} </h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph12-5' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h4 class="touH4"> {{ 'termsOfUse.title12-6' | translate }} </h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph12-6' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h4 class="touH4"> {{ 'termsOfUse.title12-7' | translate }} </h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph12-7' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h4 class="touH4"> {{ 'termsOfUse.title12-8' | translate }} </h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph12-8' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h4 class="touH4"> {{ 'termsOfUse.title12-9' | translate }} </h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph12-9' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h4 class="touH4"> {{ 'termsOfUse.title12-9' | translate }} </h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph12-9' | translate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 ">
                <h2 class="touH2"> {{ 'termsOfUse.title13' | translate }} </h2>
            </div>
        </div>    
        <div class="row">
            <div class="col-12 touP">
                {{ 'termsOfUse.paragraph13' | translate }}
            </div>
        </div>
    </div>
    <br>
    <div class="col-12 loreipsum" style="text-align: center;">
        <button class="termsbutton" (click)="close()">
           Close
       </button>
    </div>
</div>