<div class="container wiki-container">
  <div class="row" style="position: fixed; top: 0; right: 0;">
    <div class="col-12">
      <language-button (languageChanged)="languageChanged($event)"></language-button>
    </div>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <div class="col-12">
      <h1> {{'wiki.wikiTitle' | translate}} </h1>
    </div>
  </div>
  <div class="row wikimenu">
    <div (click)="redirectToFAQs()" class="col-4 wikibutton"> {{'wiki.FAQButton' | translate }} </div>
    <div (click)="redirectToPhones()" class="col-4 wikibutton"> {{'wiki.phonesButton' | translate }} </div>
    <div (click)="redirectToDefinitions()" class="col-4 wikihighlightbutton"> {{'wiki.definitionsButton' | translate }} </div>
  </div>
  <div class="definition" *ngFor="let def of definitions;">
    <div class="row word">
      <div class="col-12">
        <b>
          {{ def.word}}
        </b>
        <span>
          {{ def.kind}}
        </span>
      </div>
    </div>
    <div class="row line">
        <div class="col-12">
          <span>
            {{def.definition}}
          </span>
        </div>
    </div>
    <div class="row line">
        <div class="col-12">
          <i>
            "{{def.example}}"
          </i>
        </div>
    </div>
  </div>
</div>
