.addpoint-container{
    margin-top: 20px;
}
.textImageRow {
    margin-left: 15px;
}

.language-buttonDiv {
    padding-bottom: 20px;
}

.languageButtons {
    background-color: unset;
    color: white;
    font-weight: bold;
    margin: 10px;
}

.buttonText {
    color: white;
    font-weight: bold;
    text-align: right;
}