<div class="container">
  <div class="row" style="position: fixed; top: 0; right: 0;">
    <div class="col-12">
      <language-button></language-button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1>
        Wiki
      </h1>
    </div>
  </div>
  <div class="row">
    <div (click)="redirectToFAQs()" class="col-4 wikihighlightbutton">
      FAQ
    </div>
    <div (click)="redirectToPhones()" class="col-4 wikibutton">
      phones
    </div>
    <div (click)="redirectToDefinitions()" class="col-4 wikibutton">
      definitions
    </div>
  </div>
  <div *ngFor="let faq of faqs;">
    <div class="row wikicontent">
      <div class="col-12 wikifaq">
        <div class="row wikiquestion">{{faq.question}}</div>
        <div class="row wikianswer">{{faq.answer}}</div>
        <div class="row votes">
          <div class="col upvotes" (click)="upvote(faq.id)">
            <img *ngIf="faq.isUpvoted" src="../../../assets/images/upvote.svg" style="height: 20px; width: 20px;">
            <img *ngIf="!faq.isUpvoted" src="../../../assets/images/upvote-empty.svg" style="height: 20px; width: 20px;">
            {{faq.numUpvotes}}
          </div>
          <div class="col downvotes" (click)="downvote(faq.id)">
            <img *ngIf="faq.isDownvoted" src="../../../assets/images/downvote.svg" style="height: 20px; width: 20px;">
            <img *ngIf="!faq.isDownvoted" src="../../../assets/images/downvote-empty.svg" style="height: 20px; width: 20px;">
            {{faq.numUpvotes}}
          </div>
        </div>
      </div>
    </div>
    <div class="row wikifaqspace"><br></div>
  </div>

</div>
