.wikihighlightbutton {
  background: #BEA2E4;
  border-radius: 25px;
  color: #1A1A1A;
}
.wikibutton {
  color: #ffffff;
}
.wikifaq{
  background: #1A1A1A;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);
  border-radius: 18px;
}
.wikiquestion{
  font-size: 15px;
  color: #9D9E9E;
  letter-spacing: 0;
}
.wikianswer{
  font-size: 10px;
  color: #A7A8A7;
  letter-spacing: 0;
  text-align: left;
}
.wikifaqspace{
  height: 1%;
}