<div class="container">
    <h1>PurplePoint</h1>
    <h2>Login</h2>
    <form [formGroup]="loginFrom" (ngSubmit)="onSubmit()">
      <div>
        <div ngClass="{'has-error': isSubmitted === true && formControls.email.errors}">
          <input 
            type="email" 
            class="form-control" 
            id="email" 
            placeholder="email" 
            formControlName="email"
            name="email"
            required
          >
          <div *ngIf="isSubmitted && formControls.email.errors"> 
            <div *ngIf="formControls.email.errors.required">Email required</div> 		   
            <div *ngIf="formControls.email.errors.email">Email not valid</div>
          </div> 
        </div>
        <div ngClass="{ 'has-error': isSubmitted && formControls.password.errors }">
          <input 
            type="password" 
            class="form-control" 
            id="password" 
            placeholder="password"
            formControlName="password"
            (click)="setSubmittedToFalse()"
            required
          >
        </div>
        <div *ngIf="isSubmitted && formControls.password.errors" >
          <div *ngIf="formControls.password.errors.required">Password is required</div>
        </div>
      </div>
      <button type="submit" class="principalButton">Log in</button>
    </form>
</div>
