/* You can add global styles to this file, and also import other style files */

#panicButton {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    color: white;
    background-image: linear-gradient(to top left,#262226 80%,  #8a088a 85%);
}

.principalButton {
    border-radius: 50%;
    background-color: #8a088a;
    color: white;

}
